
// Body
$body-bg: #F7F7FF;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$cinnabar: #C91A23;
$indigo: #1446A0;
$yellow: #F5D547;
$white-ghost: #F7F7FF;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
